/* body{
    background-image: url(/img/fundo-MenuPrincipal.jpg); 
    width: 100%;   
    height: 100%;
    margin: 0px;
} */
.completed { color: blue }
.pending { color: yellow }
.delayed { color: red }

.info {
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgba(35, 82, 255, 0.5);
    border: 1px solid blue;
    border-radius: 5px;
}

.list{
    padding: 0.5em;
    margin: 0.5em;
    color: white;
    text-decoration: none;
    background-color: rgba(35, 82, 255, 0.5); 
    border: 1px solid blue; 
    border-radius: 5px;

}

/* .butt-list{
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgba(35, 82, 255, 0.5);
    border: 1px solid blue;
    border-radius: 5px;

} */
