 body{
    background-image: url(../img/fundo-MenuPrincipal.jpg); 
    background-size: cover; 
    background-position: center;
}
.title{
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgba(35, 82, 255, 0.5);
}
.col-sm-4{
    
    background-color: rgba(9, 58, 236, 0.5);
}
.col-sm-8{
    
    background-color: rgba(13, 62, 240, 0.5);
}
.container-fluid{
    border-width: 5px;
    border-style: solid;
    border-color: rgb(17, 63, 190);
    background-color: rgb(138, 61, 9);
}
.completed { color: blue }
.pending { color: yellow }
.delayed { color: red }

.info {
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgba(35, 82, 255, 0.5);
    border: 1px solid blue;
    border-radius: 5px;
}

.list{
    padding: 0.5em;
    margin: 0.5em;
    color: white;
    text-decoration: none;
    background-color: rgba(35, 82, 255, 0.5); 
    border: 1px solid blue; 
    border-radius: 5px;

}

/* .butt-list{
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgba(35, 82, 255, 0.5);
    border: 1px solid blue;
    border-radius: 5px;

} */
