<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor do Corte e Barba</title>

    <link rel="stylesheet" href="\Users\Julio\Workspace\Uncisal\barbearia\css\style.css">

</head>
<body>
    <h1>Corte e Barba</h1>
    <footer>
        <p class="agendamento">Faça seu Agendamento</p>
        <p class="valor">R$ 35,00 </p>

        <span>
            <img class="whatsapp" src="\Users\Julio\Workspace\Uncisal\barbearia\img\whatsapp.png" alt="whatsapp"/>
        </span>
    </footer>
    
    <h2>Opções de Barba:</h2>
    <div>
        <img src="\Users\Julio\Workspace\Uncisal\barbearia\img\corte_barba.jpg" alt="opcoes_corte">
        <img src="\Users\Julio\Workspace\Uncisal\barbearia\img\corte_barba1.jpg" alt="opcoes_corte">
        <img src="\Users\Julio\Workspace\Uncisal\barbearia\img\corte_barba.2.jpg" alt="opcoes_corte">
    </div>
    <p>
        <a href="\Users\Julio\Workspace\Uncisal\barbearia\templates\barbelist.html" class="pe">Voltar para a lista de serviços</a>
    </p>
    
</body>
</html>