<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor do Corte infantil</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1>Corte Infantil</h1>
    <footer>
        <p class="agendamento">Faça seu Agendamento</p>
        <p class="valor">R$ 30,00 </p>

        <span>
            <img class="whatsapp" src="/img/whatsapp.png" alt="whatsapp"/>
        </span>
    </footer>
    
    <h2>Opções de Corte:</h2>
    <div>
        <img src="/img/infantil.jpg" alt="opcoes_corte">
        <img src="/img/infantil1.jpg" alt="opcoes_corte">
        <img src="/img/infantil2.jpg" alt="opcoes_corte">
    </div>
    
</body>
</html>