<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Barbearia</title>
    <style>
        h1{
            font-size: 50px;
        }

        ul li a{
            font-size: 25px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

    </style>
</head>
<body>
    <h1>Barbearia</h1>
    <ul>
        <li><a href="/Barbearia/templates/box_valores/valor_corte.html">Corte</a> </li>
        <li><a href="/Barbearia/templates/box_valores/valor_barba.html">Barba</a></li>
        <li><a href="/Barbearia/templates/box_valores/meia_barba.html">Meia Barba</a></li>
        <li> <a href="/Barbearia/templates/box_valores/corte_barba.html">Corte e barba</a></li>
        <li><a href="/Barbearia/templates/box_valores/infantil.html">Infantil</a></li>
        
    </ul>
</body>
</html>