<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOS</title>
    <style>
        .completed { color: blue }
        .pending { color: yellow }
        .delayed { color: red }
    </style>
</head>
<body>
    <h1>{{ title  }}</h1>
      
    

    <ul>
        {% for todo in todos %}
            <li><a href="/todos/{{ todo.id }}">{{ todo.name }} ({{ todo.get_tasks()|length }})</a></li>
        {% endfor %}
        
    </ul>

    <button>Remover</button>
    <button>NOVO</button>
</body>
</html>