<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOS</title>
    <style>
        .completed { color: blue }
        .pending { color: yellow }
        .delayed { color: red }
    </style>
</head>
<body>
    <h1>{{ title  }}</h1>

    <form method="post" action="/todos">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" >
        <br><br>
        <label for="status">Status:</label>
        <select name="status">
            <option>-- selecione uma opção --</option>
            <option value="active">Ativo</option>
            <option value="inactive">Inativo</option>
        </select>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
      
    

    <ul>
        {% for todo in todos %}
            <li><a href="/todos/{{ todo.id }}">{{ todo.name }} ({{ todo.tasks|length }})</a></li>
        {% endfor %}
        
    </ul>

    <button>Remover</button>
    <button>NOVO</button>
</body>
</html>