<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor da Meia Barba</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    

</head>
<body>
    <h1>Meia Barba</h1>

    <a class="voltar-list" href="/sobre">Voltar</a>
    
    <footer>
        <p class="agendamento">Faça seu Agendamento</p>
        <p class="valor">R$ 15,00 </p>

        <span>
            <img class="whatsapp" src="../static/img/whatsapp.png">
            
        </span>
    </footer>
    
    <h2>Opções de Meia Barba:</h2>
    <div>
        <img src="../static/img/meia_barba.jpg" alt="opcoes_corte">
        <img src="../static/img/meia_barba1.jpg" alt="opcoes_corte">
        <img src="../static/img/meia-barba2.jpg" alt="opcoes_corte">
    </div>
    <p>
        <a href="/sobre" class="pe">voltar para a lista de serviços</a>
    </p>
    
</body>
</html>