<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo['name'] }}</title>
    <style>
        .pending {color: darkblue }
        .completed {color: green}
        .delayed { color: red}
    </style>
</head>
<body>
    <h1>[ {{ todo['status'] }}] {{ todo['name'] }} ({{ language }})</h1>
    
    <form method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" value="{{ todo['name'] }}">
        <br><br>
        <label for="password">Status:</label>
        <select name="status">
            <option>-- selecione uma opção --</option>
            <option value="active" {% if todo['status'] == 'active' %}selected{% endif %}>Ativo</option>
            <option value="inactive" {% if todo['status'] == 'inactive' %}selected{% endif %}>Inativo</option>
        </select>
        <br><br>
        <input type="submit" value="Enviar">
    </form>

    <form method="POST" action="/todos/{{ todo.id }}/delete">
        <button>Remover</button>

    </form>
    <hr>
    <ul>
        {% for task in todo ['tasks'] %}
            {% if task['status'] != 'completed' %}
            <li class="{{ task['status'] }}">
                {{ task['due_date'] }} - <a href='#'>{{ task['name'] }}</a><br>
                <small>{{ task['description'] }}</small>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>